{% include 'componentes/header.html' %}
<body>
    {% include 'aluno/componentes/menu.html' %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-5">
                <div class="card">
                <div class="card-body">
                    <div class="col-10 py-3"><h3><i class="fa-solid fa-chalkboard  mr-3"></i> Minhas Turmas</h3></div>
                </div>
                    <ul class="list-group list-group-flush">
                        {% for turma in listaTurmas %}
                            <li class="list-group-item"><a href="/minhasNotas/{{turma.identificador}}" class="card-link" idTurma="{{turma.identificador}}">{{turma.nome}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            <div class="col-7">
                <div class="card">
                    <div class="card-head">
                        <div class="col-10 py-3"><h3><i class="fa-solid fa-calendar-day"></i> Data Atual: {{ dataAtualServidor }}</h3></div>
                    </div>                        
                </div>
                <br>
                <div class="card">
                    <div class="card-head">
                        <div class="col-10 py-3"><h3><i class="fa-solid fa-clipboard-check"></i> Média Minima: {{ mediaMinina }}</h3></div>
                    </div>                        
                </div>
            </div>
        </div>

    </div>
</body>

<script src="{{ url_for('static', filename='scripts/professor/turmas/turmas.js') }}"></script>