<!-- menu.html -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  
<nav class="navbar navbar-expand-lg" style="background-color: #FFCB9A;">
    <div class="collapse navbar-collapse" id="navbarNav">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo-branco.png') }}" width="30" height="30" alt="">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-professor nav-link" href="minhasturmasprofessor">Minhas Turmas</a>
            </li>
            <li class="nav-item">
                <a class="nav-professor nav-link" href="meusDados">Meus Dados</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-professor nav-link" href="logout">Sair</a>
            </li>
        </ul>
    </div>
</nav>
<style>
    .nav-professor{
        color:white;
        font-family: 'Roboto', sans-serif;
        font-weight: 150;
    }
</style>